@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  width: 30rem;
  height: fit-content;
  padding: 1rem 0;
  font-family: poppins;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.ant-divider {
  margin: 1rem 0;
}
